@model IEnumerable<Furniture>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <div class="row">
        @if (Model.Count() == 0)
        {
            <h2>Nie dodałeś jeszcze żadnych mebli!</h2>
            <a type="button" class="btn btn-sm btn-outline-secondary" asp-controller="Furniture" asp-action="Create">Dodaj Mebel</a>
        }
                @foreach (var item in Model)
                {
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img width="300" height="200" class="card-img-top" src="@item.ImageUrl" alt="@item.Name">
                            <div class="card-body">
                                <p class="card-text">@item.Name</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" disabled="true" class="btn btn-sm btn-outline-secondary">@item.Category.ToString()</button>
                                        <a type="button" class="btn btn-sm btn-outline-secondary" asp-controller="Furniture" asp-action="Detail" asp-route-id="@item.Id">Sprawdź</a>
                                    </div>
                                    <small class="text-muted">@(item.Price)zł</small>
                                </div>
                            </div>
                        </div>
                    </div>
                }
        </div>
    </div>